
#main-homepage #brand {
	font-size: 4em;
	margin-bottom: 20%;
}

#app-info {
	font-size: 1.2em;
	text-align: center;
}

.btn-default {
	background-color: #FFF !important;
	color: #363046 !important;
	box-shadow: none !important;
	border: 1px solid #E3E3E3;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn-primary-new {
	background-color: #363046 !important;
	padding-left: 130px;
	padding-right: 130px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.container {
	padding-top: 200px;
}

body {
	text-align: center;
}
